body {
    /* neutralisé les marges par défaut du navigateur */
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: #ccc;
}

/* le bloc avec l'identifiant '#site' */

#site {
    max-width: 950px;/* utilisation de max-width pour le responsive */
    margin: auto;/* centrer le bloc 'site' */
    border-left: 1px solid #7e7e7e;
    border-right: 1px solid #7e7e7e;
    background-color: #f2f2f2;
}

header, footer {
    background-color: #060;
    text-align: center;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
}

nav {
    background-color: #000;
}

nav ul {
    list-style: none;/* suprimer les puces des listes */
    margin: 0;/* supprimer les marges extérieur */
    padding: 0;/* supprimer les marges intérieur */
    display: flex;/* Alignement des listes */
    justify-content: flex-end;/* positionnement à droite */
}

nav li {
    padding: 10px;/* marge intérieur des listes */
}

nav a {
    text-decoration: none;/* supprimer les soulignement des liens */
    color: #3f0;
}

/* remettre les soulignement des liens au survol de la sourie */
nav a:hover {
    text-decoration: underline;
}

article {
    width: 85%;
    margin: auto;
    text-align: justify;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

/* Pour le responsive */
img {
    width: 100%;
}

#slider {
    overflow: hidden;
}
#images {
    display: flex;
    animation-name: mesImages;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

@keyframes mesImages {
    0% {
        transform: translateX(0);
    }
    33% {
        transform: translateX(-100%);/* largeur de l'image */
    }
    66% {
        transform: translateX(-200%);/* largeur de l'image fois 2 */
    }
    100% {
        transform: translateX(0);
    }
}