body {
    background-color: #000;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

/* div id="box" */
#box {
    background-color: #fff;
    padding: 10px;
    text-align: justify;
    width: 650px;/* largeur de la boite */
    margin: auto;/* centrer la boite */
}

/* animation du titre H1 */
h1 {
    /* combien de temps va durée l'animation */
    animation-duration: 6s;
    /* nommé l'animation */
    animation-name: titre;
    /* Délais de lancement de l'animation */
    animation-delay: -1s;
    /* itération, nombre de fois que l'on répéter l'animation ici à l'infinie, le delay ne sera pris en compte que lors de la première itération. */
    animation-iteration-count: infinite;
    /* Sens de l'animation peut être fait avec 'animation-direction', dont la valeur par défaut est 'normal'. 'normal' correspondra à ce qui aura été défini dans la règle CSS. Avec la valeur 'reverse' on inverse le sens de l'animation. Avec 'alternate' l'animation fera des allez retour */
    animation-direction: alternate;
}

/* créer une règle CSS de l'animation nommée 'titre' */
@keyframes titre {
    /* Je veux que le titre va de la droite vers la gauche, on utilise des alias 'from' et 'to'. Avec 0% et 100% cela est égal à 'from' et 'to'. Par contre je peux mettre par exemple 50% entre les deux et modifier le comportement arrivé à 50%, ici en rouge et à 75% en bleu*/

    0% {
        /* ou va commencer le titre, bien évidemment en dehors de de la boite. */
        transform: translateX(700px);
        opacity: 0;
        /* l'opacité commence à zéro au début de l'animation. */
    }

    50% {
        color: red;
    }

    75% {
        color: blue;
    }

    100% {
        /* ou va ramener le titre au début de la boite. */
        transform: translateX(0);
        opacity: 1;
        /* l'opacité fini à 1 à la fin de l'animation. */
    }
}
