#grille-lignes {
    display: grid;
    grid-template-columns: 200px 100px;
    grid-template-rows: 50px auto 75px;
    /* auto, remplace si je ne met pas de valeur,sauf si je met une hauteur 'height'. */
}

.impaire {
    background-color: red;
}

.paire {
    background-color: black;
    color: white;
}

/* on vise toutes les 'div' qui ont un attribut 'class'. */
div[class] {
    border: 1px solid #ccc;
    text-align: center;
    padding: 10px;
}